
* {
    font-family: 'Theinhardt';
    font-size: 11pt;
    font-weight: bold;
}

i {
    font-style: italic;
}

.info {
    font-family: 'Theinhardt';
    font-size: 11pt;
    font-weight: bold;
    line-height: 13pt;
}

.title {
    break-before: page;
    position: running(titleRunning);

}

.chapter {
    position: running(chapterRunning);
}

.garde {
    page: faux-titre;
    height: $pageheight;
    page-break-after: always;
}


