@font-face {
    font-family: 'Karrik';
    src: url('../fonts/Karrik/Karrik-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karrik';
    src: url('../fonts/Karrik/Karrik-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Baskerville';
    src: url('../fonts/GFSBaskerville/GFSBaskerville.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HappyTimes';
    src: url('../fonts/HappyTimes/happy-times-NG_regular_master_web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HappyTimes';
    src: url('../fonts/HappyTimes/happy-times-NG_bold_master_web.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HappyTimes';
    src: url('../fonts/HappyTimes/happy-times-NG_italic_master_web.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cirruscumulus';
    src: url('../fonts/Cirruscumulus/CirrusCumulus.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}