/* To define how the book look on the screen: */
:root{
    --color-background:  whitesmoke;
    --color-pageBox: #666;
    --color-paper: white;
    --color-marginBox: transparent;
  }
  
  
  /* To define how the book look on the screen: */
  @media screen {
    body {
        background-color: var(--color-background);
    }
    .pagedjs_pages {
        display: flex;
        width: calc(var(--pagedjs-width) * 2);
        flex: 0;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .pagedjs_page{
          --pagedjs-baseline: 10mm;
          --pagedjs-baseline-position: 9mm;
          --pagedjs-baseline-color: cyan;
          // background: linear-gradient( var(--color-paper) 0%, var(--color-paper) calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) calc(var(--pagedjs-baseline) - 1px),  var(--pagedjs-baseline-color) var(--pagedjs-baseline)), transparent;
          background-color: var(--color-paper);
          background-size: 100% var(--pagedjs-baseline);
          background-repeat: repeat-y;
          background-position-y: var(--pagedjs-baseline-position);
      }
  
    .pagedjs_first_page {
        margin-left: var(--pagedjs-width);
    }
  
    .pagedjs_page:last-of-type{
        margin-bottom: 10mm;
    }
  
  }
  
  
  
.pagedjs_titre_page > .pagedjs_sheet > .pagedjs_pagebox > .pagedjs_area {
  background-color: white !important;
}

@page {
  size : 108mm 175mm;
  margin: 20mm;
  marks: crop;
  bleed: 3.8mm;
}

@page:first {
  margin-left: 10mm;
  margin-right: 15mm;
  margin-top: 20mm;
  margin-bottom: 20mm;
  // background-color: red;

  @top-center {
    content: element(titleRunning);
    height: 20mm;
    font-family: 'Karrik', Arial, Helvetica, sans-serif;
    font-size: 7pt;
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10mm;
  }

  @bottom-center {
    content: counter(page);
    font-family: 'Karrik',Arial, Helvetica, sans-serif;
    font-size: 7pt;
    padding-top: 5mm;
    height: 20mm;  
    display: none;
  }

}

@page:right {
  margin-left: 10mm;
  margin-right: 15mm;
  margin-top: 20mm;
  margin-bottom: 20mm;
  // background-color: red;


  @top-center {
    content: element(chapterRunning);
    height: 20mm;
    font-family: 'Karrik', Arial, Helvetica, sans-serif;
    font-size: 7pt;
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10mm;
  }

  @bottom-center {
    content: counter(page);
    font-family: 'Karrik',Arial, Helvetica, sans-serif;
    font-size: 7pt;
    padding-top: 5mm;
    height: 20mm;  
  }


}

@page:left {

  margin-left: 15mm;
  margin-right: 10mm;
  margin-top: 20mm;
  margin-bottom: 20mm;

  
  
}

@page:blank {
  margin-left: 8mm;
  margin-right: 10mm;
  margin-top: 10mm;

  @top-center {
    content: '';
    padding-top: 5mm;
  }
}