<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('staticfiles', filename='assets/main.css') }}">
  <title>Document</title>
  <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
</head>
<body>

  {% include 'intro.html' %}
  
  {% block content %}

  {% endblock %}
  
  <script src="{{ url_for('staticfiles', filename='assets/bundle.js') }}" ></script>
</body>
</html>
