<section class="page garde">
    <div class="info">
        <p>
        </p>
    </div>
</section>


<section class="page garde">
    <div class="info">
        <p>
        Équipe éditoriale : Merryl Bouchereau, Jérémie Nuel
        <br><br>
        Dessins : Merryl Bouchereau
        <br><br>
        Design: Jérémie Nuel
        <br><br>
        Imprimeur : Lulu Press
        <br><br>
        Font: Theinhardt Bold (optimo.ch/typefaces/theinhardt)
        <br><br>
        &Cross; lespressesdurl.net<br>
        </p>
    </div>
</section>