<section class="page garde">
    <div class="info">
        <p>
          </p>
    </div>
</section>
<section class="page garde">
    <div class="info">
        <p>
    </p>
    </div>
</section>
<section class="page garde">
    <div class="info">
<p>
    <i>Incomplete Dark Alphabet</i> est une évocation.
    <br><br>
    <i>L&rsquo;empaleur</i> est le surnom donné au seigneur roumain Vlad III, personnage historique ayant servi de modèle à Bram Stoker pour la création de son personnage Dracula. 
    <br><br>
    <i>Valachie</i> est le nom d&rsquo;une ancienne principauté à l&rsquo;origine de l&rsquo;actuelle Roumanie. Elle fut la principauté de Vlad III.
    <br><br>
    <i>Lingchi</i> est le nom d&rsquo;un ancien supplice. 
    <br>
    Les images de ce châtiment publié au XXème siècle dans <i>Les Larmes d&rsquo;Eros</i> de Bataille ont marqué. Elles montrent les spectacle d&rsquo;une douleur mêlée d&rsquo;exaltation. 
    <br>
    Ces images constituent des documents critiques quant à notre vision et notre fascination pour l’insoutenable et ce qui dépasse notre compréhension.
    <br><br>
    <i>Les préraphaélites</i> sont un groupe d’artistes anglais, revendiquant une esthétiques antérieures aux œuvres de Raphaël.
    <br><br>
    <i>Mayhem</i> est le premier véritable groupe de black métal européen. 
    Leurs chansons sont faites de références à la mythologie scandinave et empreintes d’une poésie païenne et morbide. 
    <br>Leur renommée est en partie due à des saccages d’églises qui leurs sont attribués, ainsi qu’à une vie de groupe faite de violences et de meurtres présumés. 
    
    </p>
    </div>
</section>
<section class="page garde">
    <div class="info">
        <p>
          </p>
    </div>

    <div class="info">
        <p>Incomplete Dark Alphabet</p>
    </div>
</section>
<section class="page garde">
    <div class="info">
        <p>
          </p>
    </div>
</section>
<section class="page garde">
    <div class="info">
        <p>Version 0.5</p>
        <p>Mars 2022</p>
    </div>
</section>