<section class="page garde">
    <div class="info">
        <p>
          </p>
    </div>
</section>
<section class="page garde">
    <div class="info">
        <p>
    </p>
    </div>
</section>
<section class="page garde">
    <div class="info">
        <p>
        L&rsquo;empaleur est le surnom donné au seigneur roumain Vlad III, personnage historique ayant servi de modèle à Bram Stoker pour la création de son personnage Dracula. 
Valachie est le nom d&rsquo;une ancienne principauté à l&rsquo;origine de l&rsquo;actuelle Roumanie.<br> Elle fut le principauté de Vlad III, personnage ayant inspiré le Dracula de Bram Stoker.
« Lingchi » est le nom d&rsquo;un ancien supplice.<br> Les images de ce châtiment publié au XXème siècle dans Les Larmes d&rsquo;Eros de Bataille ont marqué. Elles montrent les spectacle d&rsquo;une douleur mêlée d&rsquo;exaltation. Elles constituent un document critique quant à notre vision et notre fascination pour l’insoutenable et ce qui dépasse notre compréhension.
Les préraphaélites sont un groupe d’artistes anglais, revendiquant une esthétiques antérieures aux œuvres de Raphaël.<br>
« Mayhem » est le premier véritable groupe de black métal européen. Leurs chansons sont faites de références à la mythologie scandinave et empreintes d’une poésie païenne et morbide. Leur renommée est en partie due à des saccages d’églises qui leurs sont attribués, ainsi qu’à une vie de groupe faite de violences et allant jusqu’au décès et au meurtres présumés.
        </p>
    </div>
</section>
<section class="page garde">
    <div class="info">
        <p>
          </p>
    </div>
</section>
<section class="page garde">
    <div class="info">
        <p>Incomplete Dark Alphabet</p>
    </div>
</section>
<section class="page garde">
    <div class="info">
        <p>
          </p>
    </div>
</section>
<section class="page garde">
    <div class="info">
        <p>Version 0.1</p>
        <p>Décembre 2021</p>
    </div>
</section>