<section class="page garde">
    <div class="info">
        <p>
<i>Incomplete Dark Alphabet</i> est un projet à plusieurs possibilités. 
D’abord une archive d’images et de sons, basés sur l’évocation de pochettes d’album de black métal, de l’univers du tatouage et d’images de la peinture préraphaélite. Ces trois univers sont à la fois totalement étrangers, et partagent pourtant des liens évidents.<br> 
La représentation du corps et de ses ambiguïtés, des visions à la fois réelles et fantasmées du monde.<br>
</div>
</section>