<section class="page garde">
    <div class="info">
        <p>
<i>Incomplete Dark Alphabet</i> est une expérience informatique et éditoriale.
<br><br>
En plus du travail sur les dessins qui passe par un traitement informatique, le livre est composé et assemblé selon des principes programmatiques : à partir d'un dossier de travail partagé, les images sont automatiquement ajustées pour s'adapter au livre, les chapitres sont définis par l'architecture du système de fichier,  la mise en page est automatisée à partir de règles typographiques énoncées en amont et l'édition évolue au fur et à mesure de la production des dessins : chaque version est une nouvelle édition.
<br><br>
Ce projet s'inscrit dans la ligne éditoriale des presses d’URL qui s’attellent à rassembler des propositions d’édition qui agencent des chaînes de publication singulières, organisées autour de programmes informatiques développés spécifiquement pour la conception et la production de l’ouvrage.
</p>
</div>
</section>